<h1>Latest Shoes created: </h1>

 <% @shoes.each do |s| %>
  
  <h2> <%= link_to s.name, shoe_path(s.id)%> - <%= s.brand.name %> | <%= s.user.username.capitalize %> </h2>
  <%= s.description%>
  <br>
  <div>
     <% end %>