<h1> shoes added </h1>

<div>
  <p><%= @shoe.description %></p>
</div>

<h3>Added by: <%= link_to @shoe.user, user_path(@user)%> </h3>

<%= link_to "Edit #{@shoe.flavor}", edit_shoe_path(@shoe) if @shoe.user == current_user%>

<br>

<%= link_to "See all Reviews", shoe_reviews_path(@shoe) %>